* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: black;
  color: gray;
  font-family: Arial, Helvetica;
}

#logo {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo p {
    font-weight: bold;
    text-align: center;
}

#values {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#values h1 {
    margin-bottom: 10px;
    text-align: center;
}

#values h2 {
    margin-bottom: 10px;
}

#values p {
    margin-bottom: 10px;
}

#bottom {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}


