* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: black;
  color: gray;
  font-family: Arial, Helvetica;
}

#outer {
    width: 100%;
}

#content {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#content img {
    width: 100%;
    max-width: 600px;
}

#content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content h2 {
    margin-bottom: 10px;
    width: 100%;

}

#content p {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

#copyright {
    margin-top: 60px;
}
