* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: black;
  color: gray;
  font-family: Arial, Helvetica;
}

#center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bottom {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
